@import "../../app/keyframs.css";

.squre {
  opacity: 0;
  transform: translateX(-100px);
}
.squre.animate {
  opacity: 0;
  animation: RightIn 1s forwards;
}
.weel {
  opacity: 0;
}
.weel.animate {
  animation: RotateIn 1s forwards;
}
.heroimage {
  opacity: 0;

  transform: translateX(100px);
}
.heroimage.animate {
  animation: RightIn 1s forwards ease-out;
}
.blinking-cursor {
  color: aqua;
  animation: blink 0.8s step-start infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
