.skillcard {
  position: relative;
  overflow: hidden;
  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 12px; /* rounded-xl */
  border: 1px solid #e5e7eb; /* border-gray-200 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */

  transition: all 0.3s ease-out;
  transform: translateY(-10);
  opacity: 0;
}

.skillcard:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
  transform: translateY(-4px); /* hover:-translate-y-1 */
}

.skillcard:active {
  transform: scale(0.95); /* active:scale-95 */
}

.skillcard.animate{
  transform: translateY(0);

  opacity: 1;
}